
  <button (click)="emitterfn()">Click to delete names</button>
<!-- <div *ngIf="heroPass">
  <li *ngFor="let hero of heroPass">{{hero.name}}</li>
</div> -->
<div *ngIf="heroPass.length===0">
    {{message}}
  </div>
  